.


.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: url("../img/image1.jpeg");
  background-size: cover; }

.carousel-img-2 {
  background: url("../img/head1.jpg");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/image3.jpeg");
  background-size: cover; }

@media (max-width: 767px) {
  .nav-item {
    padding-left: 0 !important; } }

@media (max-width: 480px) {
  .carousel h2 {
    font-size: 2rem; } }
