@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,900;1,700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d2dbdd;
}
.heading_style {
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
    font-size:1.5rem;
    margin-bottom: 30px;
}
.Cards{
    width: 100%;
    height: auto;
}
.Card{
    margin: 6%;
    width: 21.25%;
    border-radius: 12px;
    background-color: #fff;
    float: left;
    transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
    box-shadow: 0px 13px 10px  -7px rgba(0, 0, 0, 1);

}
.Card:hover{
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 1);
    transform: scale(1.05,1.05);

}
.card__img{
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card__info{
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    /* background-color: #fff; */
}
.card__category{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
}
.card__title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    text-transform: uppercase;
}
button{
    padding: 5px 8px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    outline: none;
    border: 1px solid black ;
    cursor: pointer;
}
@media(max-width: 768px)
{
    .card{
        float: none;
        margin: 5%;
        width: 90%;
    }
}